/* contact-styles.css
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap'); 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: #359381;
    pointer-events: none;
    margin-right: 270px;
}

.navigation {
    margin-left: 450px;
}

.navigation a {
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 20px;
    font-weight: 600;
}

.navigation a.active:hover {
    background-color: #fff;
    color: #359381;
}

.navigation a.active {
    background: #359381;
    color: #fff;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text {
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec {
    position: relative;
    background: #003329;
    padding: 100px;
}

.sec h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 10px;
    margin: auto;
}

.sec p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: #359381;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #3a3636;
}

.dropdown:hover .dropdown-content {
    display: block;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a.active {
    font-weight: bold;
}
 */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url('contact.jpg');
    font-size: 14px;
    color: rgb(2, 64, 35);
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Outfit';
}
.container{
    width: 80%;
    margin: 50px auto;
}
.contact-box{
    
    display: flex;
}
.contact-left{
    background: #a1baab;
    flex-basis: 60%;
    padding: 40px 60px;
    color:rgb(7, 85, 49);
   
    
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    color: rgb(9, 62, 45);
    background: #c6dacd;
    
}
h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 40px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;

}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: rgb(2, 27, 17);
}
button{
    background: linear-gradient(270deg,#4b9a69,#023516);
    width: 100px;
    border: none;
    outline: none;
    color: white;
    height: 35px;
    border-radius: 50px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
    padding: 15px 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    font-size: 16px;
}
.contact-left h3{
    color: #042c20;
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-right h3{
    
    font-weight: 600;
    margin-bottom: 30px;
}
tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}
input:focus{
    border: 2px solid #023922;
}
button img{
    height: 11px;
}
.contact-right img{
    width: 170px;
}

@media(max-width:800px){
    .input{
        width: 80vw;
    }
    .contact-right{
        display: none;
    } 
}